
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        {%capture section_id %}beae-preview-template-page{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
            <!--BEAE-EMBED-->
            <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
            <!--/BEAE-EMBED-->
        {% endif %}
{{ content_for_header }}
{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-preview-template-page.css" | asset_url}}"><link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">{% unless includeBeaeJquery %}<script type="text/javascript" src="https://cdn.beae.com/vendors/js-v2/jquery.min.js" defer></script>{% assign includeBeaeJquery = true %}{% endunless %}<script type="text/javascript" id="beae-page-info">
                    window.BEAE = window.BEAE || {};
                    window.BEAE.PAGE = {"template_id":"preview-template-page","title":"Product Description","type":"page","slug":"beae-preview-template-page","plan_id":1};
            </script>
<div class="beae-builder"><div class="beae-sections "><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><section id="about" data-sectionid="beae-ehi7qscd" data-heading-alignment="center" data-heading-alignment-mobile="center" data-width="1470" data-margin="30px" data-margin-mobile="15px" data-type="grid" class="beae-typo-p1 beae-ehi7qscd section-beae-ehi7qscd beae-section beae-core"><div class="beae-grid-system"><!----><div class="beae__section--container beae-grid-container grid-beae-ehi7qscd" style="--rows: 73; --rows-mobile: 154; --cols: 94; --cols-mobile: 30;"><!----><div class="beae-grid-block grid-beae-h8tffm2n"><!----><div class="beae-h8tffm2n beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-h8tffm2n" spellcheck="false"><h2 class="beae-typo-h2 text-align-center" style="">Tshirt Product Description</h2></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-7ggfubv7"><!----><div class="beae-7ggfubv7 beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-7ggfubv7" spellcheck="false"><p class="beae-typo-p1 text-align-center" style="">The unisex soft-style t-shirt puts a new spin on casual comfort. Made from very soft materials, this tee is 100% cotton for solid colors. Heather colors and sports grey include polyester. The shoulders have twill tape for improved durability. There are no side seams. The collar is made with ribbed knitting to prevent curling damage.</p></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-d56eo7fn"><!----><div class="beae-d56eo7fn beae-block beae-core beae-animation"><!----><div data-mobile-col="10" class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-m11g8 beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0732/6305/5112/files/icons_v4_outlined_34_without_side_seams.svg?v=1716416277" alt="beae image basic" width="48" height="48" loading="lazy"></picture><!----><!----><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-d56eo7fnblock-image'] = {
    "id": "beae-d56eo7fn",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-hlrflrj1"><!----><div class="beae-hlrflrj1 beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-hlrflrj1" spellcheck="false"><h5 class="beae-typo-h5 text-align-center" style="">Without side seams</h5></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-7my9q02o"><!----><div class="beae-7my9q02o beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-7my9q02o" spellcheck="false"><p class="beae-typo-p2 text-align-center" style="">Knit in one piece using tubular knit, it reduces fabric waste and makes the garment more attractive</p></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-v38sjr04"><!----><div class="beae-v38sjr04 beae-block beae-core beae-animation"><!----><div data-mobile-col="10" class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-huhr beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0732/6305/5112/files/icons_v4_outlined_39_collar_seam.svg?v=1716416269" alt="beae image basic" width="48" height="48" loading="lazy"></picture><!----><!----><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-v38sjr04block-image'] = {
    "id": "beae-v38sjr04",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-wgoopmc7"><!----><div class="beae-wgoopmc7 beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-wgoopmc7" spellcheck="false"><h5 class="beae-typo-h5 text-align-center" style="">&nbsp;Ribbed knit with seam
</h5><div><br></div><div>
</div></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-jvq0qgly"><!----><div class="beae-jvq0qgly beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-jvq0qgly" spellcheck="false"><p class="beae-typo-p2 text-align-center" style="">Ribbed knit makes the collar highly elastic and helps retain its shape</p></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-1zwakmz8"><!----><div class="beae-1zwakmz8 beae-block beae-core beae-animation"><!----><div data-mobile-col="10" class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-x1re6 beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0732/6305/5112/files/icons_v4_outlined_39_collar_seam.svg?v=1716416269" alt="beae image basic" width="48" height="48" loading="lazy"></picture><!----><!----><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-1zwakmz8block-image'] = {
    "id": "beae-1zwakmz8",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-0rows6p5"><!----><div class="beae-0rows6p5 beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-0rows6p5" spellcheck="false"><h5 class="beae-typo-h5 text-align-center" style="">Shoulder tape
</h5><div><br></div><div>
</div></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-u8kvdokf"><!----><div class="beae-u8kvdokf beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-u8kvdokf" spellcheck="false"><p class="beae-typo-p2 text-align-center" style="">Twill tape covers the shoulder seams to stabilize the back of the garment and prevent stretching</p></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-nyjbvzmi"><!----><div class="beae-nyjbvzmi beae-block beae-core beae-animation"><!----><div data-mobile-col="10" class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-5ncwi beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0732/6305/5112/files/icons_v4_outlined_21_cover.svg?v=1716416251" alt="beae image basic" width="48" height="48" loading="lazy"></picture><!----><!----><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-nyjbvzmiblock-image'] = {
    "id": "beae-nyjbvzmi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-1xf4d0c6"><!----><div class="beae-1xf4d0c6 beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-1xf4d0c6" spellcheck="false"><h5 class="beae-typo-h5 text-align-center" style="">Fabric
</h5><div><br></div><div>
</div></div></div><!----><!----></div><!----><!----></div><!----><div class="beae-grid-block grid-beae-m4lcncfp"><!----><div class="beae-m4lcncfp beae-block beae-core beae-animation"><div class="beae-block beae-x-text-editor" data-min-height="content"><div class="beae-text-content beae-html beae-scale-ratio" data-autolayout="beae-m4lcncfp" spellcheck="false"><p class="beae-typo-p2 text-align-center" style="">Made from specially spun fibers that make very durable and smooth fabric that is perfect for printing. The "Natural" color is made with unprocessed cotton, which results in small black flecks throughout the fabric.</p></div></div><!----><!----></div><!----><!----></div><!----></div><!----></div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-ehi7qscdsection-js'] = {
    "id": "beae-ehi7qscd",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script>
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    let calcViewRatio = () => {
      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container"),
          conWidth = container ? (
            container.offsetWidth < container.parentNode.offsetWidth ? 
              container.offsetWidth : 
                container.parentNode.offsetWidth
          ) : 0;
        if (!container || conWidth === 0) { return; };
        let maxWidth = parseFloat(sec.getAttribute('data-width')),
          margin = parseFloat(sec.getAttribute('data-margin')),
          marginMobile = parseFloat(sec.getAttribute('data-margin-mobile')),
          winWidth = document.documentElement.offsetWidth;
        if (!maxWidth || maxWidth > 1920) { maxw = 1920; };
        let ratio = winWidth >= 768 ? (
          (conWidth / maxWidth) < 1 ? (((conWidth - maxWidth) * 1) + maxWidth) / maxWidth : 1
        ) : winWidth / 428 ;
        if (ratio > 1) { ratio = 1; };
        if (winWidth >= 768) {
          sec.style.setProperty("--scale-ratio", ratio.toString());
          sec.style.removeProperty("--view-ratio");
          if (detectDesktopRequestMode) {
            sec.style.setProperty("--text-ratio", ratio.toString());
          }
        } else {
          sec.style.setProperty("--view-ratio", ratio.toString());
          sec.style.removeProperty("--scale-ratio");
          sec.style.removeProperty("--text-ratio");
        }
      });
    }

    calcViewRatio();
    window.addEventListener('resize', calcViewRatio);

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-preview-template-page.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {},
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/82e997-6e.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/shop\/builder\/&id=preview-template-page&page=page)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}